body {
    margin: 0;
}

#category-display {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    overflow: hidden;

    #category-text {
        overflow: hidden;
        width: 0;
    }

    @keyframes slideNextHideAnimation {
        from {
            margin-left: calc(50% - 25vw);
        }

        to {
            margin-left: 10vw;
        }
    }

    @keyframes slideNextAnimation {
        from {
            margin-left: calc(100% - 25vw);
        }

        to {
            margin-left: calc(50% - 25vw);
        }
    }

    @keyframes slideNextHideReverse {
        from {
            margin-left: 10vw;
        }

        to {
            margin-left: calc(50% - 25vw);
        }
    }

    @keyframes slideNextReverse {
        from {
            margin-left: calc(50% - 25vw);
        }

        to {
            margin-left: calc(100% - 25vw);
        }
    }

    .runSlideNextAnimation {
        animation: slideNextAnimation 0.6s ease;
        animation-fill-mode: forwards;
    }

    .runSlideNextHideAnimation {
        animation: slideNextHideAnimation 0.9s ease;
        animation-fill-mode: forwards;
    }

    .runSlideNextReverseAnimation {
        animation: slideNextReverse 0.9s ease;
        animation-fill-mode: forwards;
    }

    .runSlideNextHideReverseAnimation {
        animation: slideNextHideReverse 0.6s ease;
        animation-fill-mode: forwards;
    }

    #category-info {
        width: 50vw; //
        z-index: 100;
        padding-top: 20vh;
        color: $lightgrey;
        padding-left: 20px;
        padding-right: 20px;

        #category-name {
            font-size: 5vw;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            text-shadow: 1px 1px 3px #000000;
        }

        #category-desc {
            font-size: 17px;
            display: block;
            height: 130px;
            word-wrap: break-word;
            overflow: hidden;
            margin-top: 15px;
        }

        #category-link {
            color: $darkgreyblue;
            background-color: $yellow;
            font-size: 14px;
            width: 150px;
            text-decoration: none;
            border-radius: 3px;
            border-color: transparent;
            padding: 10px;
            margin-left: calc(50% - 75px); // width / 2
            transition: background-color 0.4s;
        }

        #category-link:hover {
            color: $lightgrey;
            background-color: $darknavyblue;
        }
    }

    .cat-info {
        display: none;
    }

    #cat-overlay {
        position: absolute;
        margin: 0;
        top: 0;
        bottom: 0;
        width: 0;
        height: inherit;
        background-color: black;
        z-index: 200;
    }

    #current-cat {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        z-index: -1;
        box-shadow: inset 0 0 8px rgba(0, 0, 0, .6);
        -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, .6);
        -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .6);

        img {
            width: 100vw;
        }
    }

    #bottom-navigation {
        bottom: 0;
        color: white;
        text-shadow: 1px 1px 3px #000000;

        position: fixed;
        width: 100%;
        margin-bottom: 70px;

        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        z-index: 9999;

        #bottom-navigation-contents {
            left: 0;
            float: left;
            overflow: hidden;
            width: calc(100% - 110px);
            text-align: center;

            .cat-nav-link {
                display: inline-block;
                transform: translateY(-50%);
                overflow: hidden;
                top: 20px;
                position: relative;
                padding-left: 20px !important;
                padding-right: 20px !important;
                height: 40px;
                cursor: pointer;

                .cat-id {
                    padding-top: 4px;
                    font-size: 19px;
                    float: left;
                }

                .cat-name {
                    font-size: 14px;
                    padding-top: 8px;
                    float: right;
                }
            }

            svg,
            .shape {
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 40px;
            }

            .shape {
                stroke-dasharray: 80 726;
                stroke-dashoffset: -378;
                stroke-width: 8px;
                fill: transparent;
                stroke: $yellow;
                border-bottom: 5px solid black;
                transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s, stroke 1s;
            }

            .cat-nav-link:hover .shape {
                stroke-width: 2px;
                stroke-dashoffset: 0;
                stroke-dasharray: 736;
            }

            .active .shape {
                stroke: $darkgreyblue;
                stroke-width: 2px;
                stroke-dashoffset: 0;
                stroke-dasharray: 736;

                .active .cat-id {
                    color: $darkgreyblue !important;
                }
            }
        }

        #left-arrow {
            float: left;
            left: 0;
            margin-left: 10px;
        }

        #right-arrow {
            float: right;
            right: 0;
            margin-right: 10px;
        }

        .arrow {
            width: 45px;
            font-size: 30px;
            //color: rgb(0, 0, 0);
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 520px) {

    //Show 1 Cat
    #category-desc {
        width: 80vw !important;
        margin-left: calc(50% - 40vw) !important;
    }

    .cat-nav-link {
        width: calc(100% - 50px) !important; //50px = margin
    }
}

@media only screen and (min-width: 521px) and (max-width: 850px) {

    //Show 2 Cat
    #category-desc {
        width: 70vw !important;
        margin-left: calc(50% - 35vw) !important;
    }

    .cat-nav-link {
        width: calc(50% - 20px) !important; //40px = 2 elements with 2 margins of 10
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}

@media only screen and (min-width: 851px) and (max-width: 1200px) {
    //Show 3 Cat

    .cat-nav-link {
        width: calc(33.333% - 20px) !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
    //Show 4 Cat

    .cat-nav-link {
        width: calc(25% - 40px) !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}

@media only screen and (min-width: 1601px) {
    //Show 5 Cat

    .cat-nav-link {
        width: calc(20% - 50px) !important;
        margin-left: 25px !important;
        margin-right: 25px !important;
    }
}