$mytestcolour: #fff;

$yellow: #ffcc00;

$lightgrey: rgb(204,204,204);
$darkgrey: rgb(145,148,157);

$greyblue: rgb(99,117,139);
$darkgreyblue: rgb(70,88,108);

$navyblue: rgb(0,51,102);
$darknavyblue: rgb(18,26,62);


$iconColor : #00B5F5;
$accent : #002A8F;
$bluefade : #0043E0;
$gradient : #00B5F5;

$darkbeige : rgb(218,213,207);
$lightbeige : rgb(237,232,230);
$white2 : rgb(240,239,237);

$darkblue: #2a5b84;
$lightblue: #aac4d1;
$yellow2: #ebc137;
$beige: #fefae1;


$lightgrey2: #f3f3f3;