@import url(https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One);@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);.product {
  padding-top: 60px;
  overflow-wrap: anywhere;
  background-color: rgba(99, 99, 99, 0.8);
}

.product .woocommerce-product-gallery img {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.product .woocommerce-product-gallery figure {
  margin: 0;
}

.product #container-product-info .summary {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.4);
}

.product #container-product-info .summary .product_title {
  text-transform: uppercase;
  font-family: "Pathway Gothic One", sans-serif;
  color: #ffcc00;
  letter-spacing: 1.2vw;
  text-shadow: 0 -6px 10px rgba(0, 0, 0, 0.35);
  margin-top: -65px;
}

.product #container-product-info #container-related-products {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.4);
}

.product #container-product-info #container-related-products .related > h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Pathway Gothic One", sans-serif;
  color: #ffcc00;
  letter-spacing: 1.2vw;
  text-shadow: 0 -6px 10px rgba(0, 0, 0, 0.35);
  margin-top: -65px;
}

@media only screen and (max-width: 520px) {
  .product {
    padding-top: 20px;
  }

  .product .woocommerce-product-gallery {
    padding-right: 5px;
    padding-left: 5px;
  }

  .product .woocommerce-product-gallery img {
    width: 100%;
    height: auto;
  }

  .product #container-product-info {
    margin: 30px;
  }

  .product #container-product-info > div {
    margin-bottom: 60px;
  }

  .product #container-product-info .summary {
    padding: 20px;
    padding-top: 40px;
  }

  .product #container-product-info .summary .product_title {
    font-size: 2rem;
    margin-top: -60px;
  }

  .product #container-product-info #container-related-products {
    padding: 20px;
  }

  .product #container-product-info #container-related-products .related > h2 {
    font-size: 2rem;
    margin-top: -40px;
  }
}

@media only screen and (min-width: 521px) and (max-width: 850px) {
  .product .woocommerce-product-gallery {
    padding-right: 20px;
    padding-left: 20px;
  }

  .product .woocommerce-product-gallery img {
    width: 100%;
    height: auto;
  }

  .product #container-product-info {
    margin-left: 10%;
    margin-right: 10%;
  }

  .product #container-product-info > div {
    margin-bottom: 80px;
  }

  .product #container-product-info .summary {
    padding: 40px;
    margin-top: -40px;
  }

  .product #container-product-info #container-related-products {
    padding: 40px;
    margin-top: -40px;
  }
}

.product #container-product-info #container-related-products .related ul li .button {
  display: none;
}

