@import url(https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One);@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);body,
html {
  height: initial;
}

.single-product {
  background: #1d212c;
  background: linear-gradient(140deg, #1d212c 10%, #4f65af 100%);
}

.product {
  padding-top: 60px;
  overflow-wrap: anywhere;
}

.product .woocommerce-product-gallery img {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.product .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(1) {
  position: absolute;
}

.product .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(1) img {
  width: auto;
  min-height: 550px;
  max-height: calc(100% - 70px);
}

.product .woocommerce-product-gallery figure {
  margin: 0;
}

.product .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 20%;
  display: inline-block;
  margin: 20px;
}

.product #container-product-info .summary {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.product #container-product-info .summary .product_title {
  text-transform: uppercase;
  font-family: "Pathway Gothic One", sans-serif;
  color: #ffcc00;
  letter-spacing: 1.2vw;
  text-shadow: 0 -6px 10px rgba(0, 0, 0, 0.35);
  margin-top: -65px;
}

.product #container-product-info .summary .price > span {
  position: absolute;
  right: 25px;
}

.product #container-product-info .summary .woocommerce-product-details__short-description {
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
}

.product #container-product-info .summary .out-of-stock {
  color: #ffcc00;
  text-align: center;
}

.product #container-product-info .summary .product_meta {
  color: transparent;
}

.product #container-product-info .summary .product_meta .tagged_as a {
  font-size: 12px;
  display: inline;
  color: #ffcc00;
  border: 1px solid #ffcc00;
  border-radius: 20px;
  padding: 3px 9px 3px 9px;
}

.product #container-product-info #container-related-products {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.product #container-product-info #container-related-products .related > h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Pathway Gothic One", sans-serif;
  color: #ffcc00;
  letter-spacing: 1.2vw;
  text-shadow: 0 -6px 10px rgba(0, 0, 0, 0.35);
  margin-top: -65px;
}

.product #container-product-info #container-related-products .button {
  display: none;
}

.product #container-product-info #container-related-products ul {
  list-style-type: none;
  background-color: transparent;
  padding-left: 0;
}

.product #container-product-info #container-related-products ul li {
  background-color: transparent;
}

.product #container-product-info #container-related-products ul li img {
  width: 250px;
  height: 250px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.product #container-product-info #container-related-products ul li h2 {
  width: 100%;
  position: absolute;
  margin-left: 235px;
  font-family: "Pathway Gothic One", sans-serif;
  color: #ffcc00;
  text-shadow: 0 -6px 10px rgba(0, 0, 0, 0.35);
  letter-spacing: 1.2vw;
  transform-origin: 0 0;
  transform: rotate(270deg);
}

.product #container-product-info #container-related-products ul > li:first-child {
  padding-top: 25px;
}

.product #container-product-info #container-related-products .price {
  display: none;
}

.product button {
  display: block;
  padding: 5px 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 50px;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffcc00 80%);
  font-size: 14px;
}

@media only screen and (max-width: 520px) {
  .product {
    padding-top: 20px;
  }

  .product .woocommerce-product-gallery {
    padding-right: 5px;
    padding-left: 5px;
  }

  .product .woocommerce-product-gallery img {
    width: 100%;
    height: auto;
  }

  .product .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 25%;
    display: inline-block;
    margin: 10px;
  }

  .product #container-product-info {
    margin: 30px;
  }

  .product #container-product-info > div {
    margin-bottom: 60px;
  }

  .product #container-product-info .summary {
    padding: 20px;
    padding-top: 40px;
  }

  .product #container-product-info .summary .product_title {
    font-size: 2rem;
    margin-top: -60px;
  }

  .product #container-product-info #container-related-products {
    padding: 20px;
  }

  .product #container-product-info #container-related-products .related > h2 {
    font-size: 2rem;
    margin-top: -40px;
  }
}

@media only screen and (min-width: 521px) and (max-width: 850px) {
  .product .woocommerce-product-gallery {
    padding-right: 20px;
    padding-left: 20px;
  }

  .product .woocommerce-product-gallery img {
    width: 100%;
    height: auto;
  }

  .product #container-product-info {
    margin-left: 10%;
    margin-right: 10%;
  }

  .product #container-product-info > div {
    margin-bottom: 80px;
  }

  .product #container-product-info .summary {
    padding: 40px;
    margin-top: -40px;
  }

  .product #container-product-info #container-related-products {
    padding: 40px;
    margin-top: -40px;
  }
}

