body , html{
    height: initial;
}

.single-product {
    // background: rgb(29,33,44);
    // background: linear-gradient(120deg, rgba(29,33,44,1) 0%, rgba(63,78,125,1) 100%);
    background: rgb(29,33,44);
    background: linear-gradient(140deg, rgba(29,33,44,1) 10%, rgba(79,101,175,1) 100%);
    // background-color: #537895;
    // background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

.product {
    padding-top: 60px;
    overflow-wrap: anywhere;
    //background-color: rgba(99, 99, 99, 0.8);

    .woocommerce-product-gallery {

        img {
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
        }

        figure {
            margin: 0;
        }

        .woocommerce-product-gallery__image:nth-child(n+2) {
            width: 20%;
            display: inline-block;
            margin: 20px;
        }
    }


    #container-product-info {
        .summary {
            font-family: "Montserrat", sans-serif;
            color: white;

            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(7px);
            box-shadow: 0 6px 11px rgba(0, 0, 0, 0.4);
            border-radius: 20px;

            .product_title {
                text-transform: uppercase;
                font-family: "Pathway Gothic One", sans-serif;
                color: #ffcc00;
                letter-spacing: 1.2vw;
                text-shadow: 0 -6px 10px rgba(0, 0, 0, 0.35);
                margin-top: -65px;
            }

            .price {
                
            }

            .product_meta {
                color: transparent;

                .tagged_as a{
                    font-size: 12px;
                    display: inline;
                    color: #ffcc00;
                    border: 1px solid #ffcc00;
                    border-radius: 20px;
                    padding: 3px 9px 3px 9px;
                }
            }

        }

        #container-related-products {
            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(7px);
            box-shadow: 0 6px 11px rgba(0, 0, 0, 0.4);
            border-radius: 20px;

            .related>h2 {
                font-size: 2.5rem;
                text-transform: uppercase;
                font-family: "Pathway Gothic One", sans-serif;
                color: #ffcc00;
                letter-spacing: 1.2vw;
                text-shadow: 0 -6px 10px rgba(0, 0, 0, 0.35);
                margin-top: -65px;
            }

            ul {
                list-style-type: none;
                background-color: transparent;
                padding-left: 0;

                li {
                    background-color: transparent;

                    img {
                        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
                    }
                }
            }

            ul > li:first-child {
                padding-top: 25px;
            }

        }
    }

}


@media only screen and (max-width: 520px) {
    .product {
        padding-top: 20px;

        .woocommerce-product-gallery {
            padding-right: 5px;
            padding-left: 5px;

            img {
                width: 100%;
                height: auto;
            }

            .woocommerce-product-gallery__image:nth-child(n+2) {
                width: 25%;
                display: inline-block;
                margin: 10px;
            }
        }

        #container-product-info {
            margin: 30px;

            >div {
                margin-bottom: 60px;
            }

            .summary {
                padding: 20px;
                padding-top: 40px;

                .product_title {
                    font-size: 2rem;
                    margin-top: -60px;
                }
            }

            #container-related-products {
                padding: 20px;

                .related>h2 {
                    font-size: 2rem;
                    margin-top: -40px;
                }
            }
        }

    }
}



@media only screen and (min-width: 521px) and (max-width: 850px) {
    .product {

        .woocommerce-product-gallery {
            padding-right: 20px;
            padding-left: 20px;

            img {
                width: 100%;
                height: auto;
            }
        }


        #container-product-info {
            margin-left: 10%;
            margin-right: 10%;

            >div {
                margin-bottom: 80px;
            }

            .summary {
                padding: 40px;
                margin-top: -40px;


                .product_title {}
            }

            #container-related-products {
                padding: 40px;
                margin-top: -40px;

                h2 {}
            }
        }

    }

}


//CSS FOR RELATED PRODUCTS (SIMILAR)

.product {

    #container-product-info {

        #container-related-products {

            .related {

                ul {

                    li {

                        >a {}

                        .button {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}











// @media only screen and (min-width: 521px) and (max-width: 850px) {

// }

// @media only screen and (min-width: 851px) and (max-width: 1200px) {

// }

// @media only screen and (min-width: 1201px) and (max-width: 1600px) {

// }

// @media only screen and (min-width: 1601px) {

// }