.single-product {
    background-attachment: fixed;
    background-size: cover;
    &:before {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(99, 99, 99, 0.8);
        content: "";
    }
    
}

.single-product > .main-container > .product{
    .woocommerce-product-gallery {
        width: fit-content;
        margin: auto;
    }
}

.single-product {
    .product {

        .woocommerce-product-gallery {
            position: relative;

            img {
                box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
            }

            figure {
                margin: 0;
            }

        }


        #container-product-info {
            padding: 30px;
            overflow-wrap: break-word;

            .summary {
                font-family: "Montserrat", sans-serif;
                color: white;
                padding: 40px;

                background-color: rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(7px);
                box-shadow: 0 6px 11px rgba(0, 0, 0, 0.4);

                .product_title {
                    text-transform: uppercase;
                    font-family: "Pathway Gothic One", sans-serif;
                    color: $yellow;
                    letter-spacing: 1.2vw;
                    text-shadow: 0 -6px 10px rgba(0, 0, 0, 0.35);
                    margin-top: -65px;
                }

                .price>span {
                    font-size: 25px;
                    position: absolute;
                    right: 25px;
                    margin-top: -10px;
                }

                .woocommerce-product-details__short-description {
                    font-family: "Montserrat", sans-serif;
                    padding-top: 16px;
                }

                .out-of-stock {
                    color: $yellow;
                    text-align: center;
                }

                .product_meta {

                    .posted_in {
                        width: fit-content;
                        margin: auto;
                        display: block;
                        margin-bottom: 10px;
                        text-align: center;

                        a {
                            color: $yellow;
                            font-family: "Pathway Gothic One", sans-serif;
                            font-size: 17px;
                            letter-spacing: 0.1vw;
                            width: fit-content;
                            display: inline-block;
                            margin: auto;
                            margin-right: 25px;
                            position: relative;
                            text-decoration: none;
                        }

                        a:after {
                            content: "";
                            height: 0.4px;
                            width: 0%;
                            position: absolute;
                            top: 55%;
                            left: 110%;
                            background-color: white;
                            transition: width 500ms, left 500ms;
                        }

                        a:hover:after {
                            width: 120%;
                            left: -10%;
                            -webkit-transition: width 500ms;
                            -moz-transition: width 500ms;
                            -o-transition: width 500ms;
                            transition: width 500ms;
                            color: white;
                            
                        }

                    }

                    .tagged_as {
                        width: fit-content;
                        margin: auto;
                        display: block;

                        a{
                            font-size: 12px;
                            display: inline;
                            color: $yellow;
                            border: 1px solid $yellow;
                            border-radius: 20px;
                            padding: 3px 9px 3px 9px;
                        }
                    }
                }

            }

            #container-related-products {
                padding: 40px;
                background-color: rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(7px);
                box-shadow: 0 6px 11px rgba(0, 0, 0, 0.4);

                .related>h2 {
                    text-transform: uppercase;
                    font-family: "Pathway Gothic One", sans-serif;
                    color: $yellow;
                    text-shadow: 0 -6px 10px rgba(0, 0, 0, 0.35);
                }

                .button {
                    display: none;
                }

                ul {
                    list-style-type: none;
                    background-color: transparent;
                    padding-left: 0;

                    li {
                        background-color: transparent;
                        width: fit-content;
                        margin: auto;
                        padding-bottom: 25px;

                        img {
                            object-fit: cover;
                            width: 250px;
                            height: 250px;
                            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
                        }

                        h2 {
                            width: fit-content;
                            max-width: 250px;
                            max-height: 30px;
                            overflow: hidden;
                            position: absolute;
                            margin-left: 235px;
                            font-family: "Pathway Gothic One", sans-serif;
                            color: $yellow;
                            text-shadow: 0 -6px 10px rgba(0, 0, 0, 0.35);
                            letter-spacing: 0.5vw;
                            transform-origin: 0 0;
                            transform: rotate(270deg);
                            font-size: 1.5em;
                        }
                    }
                }

                ul > li:first-child {
                    padding-top: 25px;
                }

                .price {
                    display: none;
                }

            }
        }

        button {
            display: block;
            padding: 5px 15px;
            margin-bottom: 15px;
            margin-right: auto;
            margin-left: auto;
            border: none;
            border-radius: 50px;
            background-color: #fbb034;
            background-image: linear-gradient(315deg, #fbb034 0%, $yellow 80%);
            font-size: 14px;
        }

    }

    .woocommerce-notices-wrapper {
        width: 100%;
        position: absolute;
        margin-top: 45vh;
        z-index: 1;
        font-size: 25px;

        .woocommerce-message {
            width: fit-content;
            margin: auto;
            text-align: center;
            color: white;
            padding: 40px;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.4);
            box-shadow: 0 6px 11px rgba(0, 0, 0, 0.4);
        }

        .woocommerce-error {
            width: fit-content;
            margin: auto;
            text-align: center;
            color: white;
            padding: 40px;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.4);
            box-shadow: 0 6px 11px rgba(0, 0, 0, 0.4);
        }

        a {
            display: block;
            color: $yellow;
            text-decoration: none;
            position: relative;
            white-space: nowrap;
            margin-left: 35%;
            margin-right: 35%;
        }

        a:after {
            content: "";
            height: 1px;
            width: 0%;
            position: absolute;
            top: 55%;
            left: 110%;
            background-color: white;
            transition: width 500ms, left 500ms;
        }

        a:hover:after {
            width: 120%;
            left: -10%;
            -webkit-transition: width 500ms;
            -moz-transition: width 500ms;
            -o-transition: width 500ms;
            transition: width 500ms;
            color: white;
            
        }
    }
}

@media only screen and (max-width: 520px) {
    .single-product > .main-container > .product{
            padding-top: 30px;
    }

    .single-product {
        .product {

            .woocommerce-product-gallery {
                padding-right: 5px;
                padding-left: 5px;

                .woocommerce-product-gallery__image:nth-child(n+2) {
                    margin: 10px;
                }
            }

            #container-product-info {
                padding: 30px;

                >div {
                    margin-bottom: 60px;
                }

                .summary {
                    padding: 20px;
                    padding-top: 40px;

                    .product_title {
                        font-size: 2rem;
                        margin-top: -60px;
                    }
                }

                #container-related-products {
                    padding: 20px;

                    .related>h2 {
                        font-size: 2rem;
                        letter-spacing: 1vw;
                        margin-top: -40px;
                    }
                }
            }
        }
    }
}



@media only screen and (min-width: 521px) and (max-width: 850px) {
    .single-product > .main-container > .product{
            padding-top: 60px;
    }

    .single-product {
        .product {

            .woocommerce-product-gallery {
                padding-right: 20px;
                padding-left: 20px;

                .woocommerce-product-gallery__image:nth-child(n+2) {
                    margin: 15px 9px 15px 9px;
                }
            }


            #container-product-info {
                padding: 60px;

                >div {
                    margin-bottom: 80px;
                }

                .summary {
                    padding: 40px;
                    margin-top: -40px;


                    .product_title {}
                }

                #container-related-products {
                    padding: 40px;
                    margin-top: -40px;

                    .related>h2 {
                        font-size: 2.5rem;
                        letter-spacing: 1.3vw;
                        margin-top: -65px;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 850px) {
    .single-product {
        .product {
            position: relative;

            .woocommerce-product-gallery {

                .woocommerce-product-gallery__image:nth-child(1) {
                    position: initial;
                    
                    img {
                        width: 100%;
                        min-height: auto;
                        height: auto;
                    }
                }

                .woocommerce-product-gallery__image:nth-child(2) {
                    margin-left: 0;
                }

                .woocommerce-product-gallery__image:nth-child(n+2) {
                    display: inline-block;
                }
            }


            #container-product-info {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 851px) {
    .single-product > .main-container > .product{
            padding-top: 70px;
    }

    .single-product {
        .product {

            .woocommerce-product-gallery {
        
                .woocommerce-product-gallery__image:nth-child(1) {
                    
                    img {
                        width: auto;
                        min-height: 550px;
                        max-height: calc(100% - 70px);      //Pixel = heading height
                    }
                }
        
                .woocommerce-product-gallery__image:nth-child(n+2) {
                    display: inline-block;
                    margin: 20px;
                }
            }

            #container-product-info {

                .summary {
                    margin-bottom: 60px;
                }

                #container-related-products {

                    .related>h2 {
                        font-size: 2rem;
                        margin-top: -60px;
                        letter-spacing: 1vw;
                    }
                }
            }
        } 
    }
}

@media only screen and (min-width: 1200px) {  
    .single-product > .main-container > .product{
        .woocommerce-product-gallery {
            padding-right: 300px;
        }
    }

    .single-product{
        
        #container-product-info {
            width: 450px;
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 1%;
            margin-top: 10%;
        }
    }
}

@media only screen and (min-width: 950px) and (max-width: 1200px) {
    .single-product {
        #container-product-info {
            #container-related-products {
                padding-right: 0 !important;

                .products {
                    li {
                        display: inline-block;
                        width: fit-content;
                        margin: auto;
                        padding-right: 20px;
                    }
                }
                ul > li:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}


@media only screen and (min-width: 1400px) {  
    .single-product > .main-container > .product{
        .woocommerce-product-gallery {
            padding-right: 400px;
        }
    }

    .single-product {
        #container-product-info {
            width: 500px;
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 7%;
            margin-top: 10%;
        }
}

}