$mytestcolour: #fff;

$yellow: rgb(255, 204, 0);

$lightgrey: rgb(204,204,204);
$darkgrey: rgb(145,148,157);

$greyblue: rgb(99,117,139);
$darkgreyblue: rgb(70,88,108);

$navyblue: rgb(0,51,102);
$darknavyblue: rgb(18,26,62);


$iconColor : #00B5F5;
$accent : #002A8F;
$bluefade : #0043E0;
$gradient : #00B5F5;