$mytestcolour: #fff;

$yellow: #ffcc00;

$lightgrey: rgb(204,204,204);
$darkgrey: rgb(145,148,157);

$greyblue: rgb(99,117,139);
$darkgreybluw: rgb(70,88,108);

$navyblue: rgb(0,51,102);
$darknavyblue: rgb(18,26,62);